@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
body{
	font-family: 'Roboto';
	background-color: #004484;
}

.container{
	margin-top: 4em;
	background-color: #fff;
	border-radius: 8px;
	padding: 2em;
	width: 40%;
}

.form-login {
	margin: auto;
	width: 50%;
}
.logo-universidad{
	display: block;
	width: 12em;
	margin:auto;
}

.btn-ingresar{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}

.titulo {
	text-align: center;
	padding: 12px;
	color: #004484;
}
.label-login{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

